<div class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: white;">Angular CURD : Welcome {{username}} : UserId - {{id}}</h1>
    <div class="d-flex">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="func1()">Add Employee</button>
      <button routerLink="/login" class="btn btn-danger">Logout</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="func2()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue"> <!-- add formGroup -->
          <div class="mb-3">
          <label for="exampleInputUsername1" class="form-label">Username</label>
          <input type="text" formControlName="username" class="form-control" id="exampleInputUsername1">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
          <label for="exampleInputMobile1" class="form-label">Mobile Number</label>
          <input type="number" formControlName="mobile" class="form-control" id="exampleInputMobile1">
        </div>
        <div class="mb-3">
          <label for="exampleInputSalary1" class="form-label">Salary</label>
          <input type="number" formControlName="salary" class="form-control" id="exampleInputSalary1">
        </div>

      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="func2()" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="editButton" style="display: none;" (click)="updateEmployeeDetails()">Update</button>
        <button type="button" class="btn btn-primary" (click)="postEmployeeDetails()">Save changes</button>
      </div>
    </div>
  </div>
</div>


<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Employee ID</th>
      <th scope="col">Username</th>
      <th scope="col">Email ID</th>
      <th scope="col">Mobile No.</th>
      <th scope="col">Salary</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of employeeData">
      <td>{{row.id}}</td>
      <td>{{row.username}}</td>
      <td>{{row.email}}</td>
      <td>{{row.mobile}}</td>
      <td>{{row.salary}}</td>

      <td>
        <button class="btn btn-info" (click)="onEdit(row)">Edit</button>
        <button (click)="deleteEmployee(row)" class="btn btn-danger mx-3">Delete</button>
      </td>
    </tr>
  </tbody>
</table>











